@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --main-link-color: #598142;
  --main-text-color: #3d6529;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply text-gray-700 bg-gradient-to-b from-green-100 to-green-200 min-h-[100vh];
}
@layer base {
  .dark body {
    @apply text-white bg-gradient-to-b from-green-950 to-black;
  }
  .dark input, textarea {
    @apply text-gray-700;
  }
}

@layer components{
  .menu-link {
    @apply transition-colors text-gray-800 hover:text-green-300 dark:hover:text-green-400 cursor-pointer dark:text-gray-300 hover:drop-shadow-[0px_8px_8px_rgba(0,0,0,0.222)] dark:hover:drop-shadow-[0px_8px_8px_rgba(244,244,244,0.222)];
  }
  .avatar-menu-link {
    @apply transition-colors text-gray-800 hover:text-green-300 dark:hover:text-green-400 cursor-pointer dark:text-gray-300;
  }
}

@layer components {
  .toggle__dot {
    top: -0.25rem;
    left: -0.25rem;
    transition: all 0.3s ease-in-out;
  }

  input:checked ~ .toggle__dot {
    transform: translateX(100%);
    background-color: #48bb78;
  }

  .toggle__line {
    transition: background 0.3s ease-in-out;
  }

  input:checked ~ .toggle__line {
    background-color: #48bb78;
  }
}